.NavBar {
  width: 79.2%;
  height: 6.9%;
  margin: 0% 10% 0% 10%;
  object-fit: contain;
  display: flex;
  font-size: 5vw;
  flex-grow: 1;
  /*background-color: cadetblue;*/
}

.Logo {
  height: 68.8%;
  font-family: Blinker;
  font-size: 0.9em;
  margin: 5% 0% 5% 0%;
  letter-spacing: 1%;
  text-align: left;
  color: #000000;
  /* background-color: blue; */
}

.LogoColorRed {
  color: #e00000;
}

.LogoExplain {
  /* background-color: green; */
  width: 80%;
  height: 24.8%;
  margin: 10% 0% 5% 0%;
  font-family: Roboto;
  font-size: 0.3em;
  text-align: left;
  color: #000000;
}

.WriteButton {
  width: 15%;
  height: 5%;
  margin: 5% 0% 5% 0%;
  background-color: #e00000;
  color: #fff;
  font-family: Roboto;
  font-size: 0.4em;
  border: solid;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.LogoLink {
  text-decoration: none;
  height: 68.8%;
  font-family: Blinker;
  font-size: 0.9em;
  margin: 5% 0% 5% 0%;
  letter-spacing: 1%;
  text-align: left;
  color: #000000;
}

a button {
  width: 150%;
  height: 60%;
  margin: 50% 0% 5% 0%;
  background-color: #e00000;
  color: #fff;
  font-family: Roboto;
  font-size: 0.4em;
  border: solid;
  position: relative;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

hr {
}
